/* OVERRIDE DROPDOWN OPTIONS*/

/* hide the drag n' drop ghost*/
.sort-wrapper .sortable-drag {
  opacity: 0;
}

/* adjust status dropdown width*/
.dropdown-menu {
  min-width: 7rem !important;
}

/* make dropdown horizontal*/
.dropdown-menu.show {
  display: flex !important;
  transform: none !important;
}