/* OVERRIDE DROPDOWN OPTIONS*/

/* hide the drag n' drop ghost*/
.sort-wrapper .sortable-drag {
  opacity: 0;
}

/* make dropdown horizontal*/
.dropdown-menu.show {
  display: flex !important;
  transform: none !important;
}