/* OVERRIDE DROPDOWN OPTIONS*/

/* hide the drag n' drop ghost*/
.sort-wrapper .sortable-drag {
  opacity: 0;
}

/* make dropdown horizontal*/
.dropdown-status.dropdown-menu.show {
  display: flex !important;
  transform: none !important;
}

/* highlight table and row label when editing */
input.row-label:focus, input.table-label:focus {
  color: #7d5fff !important;
}

/* sortablejs table and row selected*/
.table-selected { border: 2px dashed #f7f1e3; }
.row-selected { background-color: #f7f1e3 !important;}