/* PROFILE INPUT */
input[type="file"] {
  display: none;
}
/* PROFILE CONTAINER */
.profile-container {
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
}
.profile-container:hover {
  opacity: 0.8;
}
/* PROFILE IMAGE */
#profile-image {
  min-width: 130px !important; 
  min-height: 130px !important; 
  max-width: 130px !important; 
  max-height: 130px !important;
}

/* -- FULL CALENDAR -- */
/* .calendar { padding: 30px !important; }  */
.calendar-timeline-1 { padding: 7px; color: #f7f1e3 !important; font-size: 15px;  background-color: #0fb9b1;}
.calendar-timeline-2 { padding: 7px; color: #f7f1e3 !important; font-size: 15px;  background-color: #4b7bec;}
.calendar-timeline-3 { padding: 7px; color: #f7f1e3 !important; font-size: 15px;  background-color: #7d5fff;}
.calendar-timeline-4 { padding: 7px; color: #f7f1e3 !important; font-size: 15px;  background-color: #10ac84;}
.fc-state-default { 
  padding: 20px !important; 
  display: flex !important; 
  align-items: center !important; 
  font-family: 'Ubuntu', sans-serif; font-size: 15px !important;
}

/* TIMELINE DATERANGE FONT */
.fa-calendar > span { font-family: 'Ubuntu', sans-serif; font-size: 13px !important;}

/* -- SORTING -- */
/* hide the drag n' drop ghost*/
/* .sortable-drag { opacity: 0; } invert >> .sortable-ghost { opacity: 0; } */
/* table and row selected*/
.table-selected { border: 2px dashed #f7f1e3; }
.row-selected { background-color: #f7f1e3 !important;}

/* -- LABEL -- */
/* highlight label of table and row when editing */
input.row-label:focus, input.table-label:focus { color: #7d5fff !important; }

/* -- STATUS -- */
/* make horizontal, change background color and spacing */
.dropdown-status.show { display: flex; background-color: #303b55; padding: 5px 2px;}
.dropdown-status > button {margin: 0px 4px}

/* -- OWNER -- */
.owner-select { margin-top: 3px; padding-left: 15px; padding-right: 15px; max-width: 3rem; max-height: 3rem;}
/*  disables ugly bootstrap button focus highlight */
.bootstrap-select .dropdown-toggle:focus { outline: none !important; box-shadow: none !important; }
/* owner dropdown menu */
/* adjust owner 'no result' font size */
.bootstrap-select .no-results { font-size: 14px !important; margin-left: 10px; background-color: #303b55; color: grey}
/* change width and height */
.bootstrap-select .dropdown-menu { min-width: 270px !important; background-color: #303b55;}
/* adjust owner search padding */
div.bs-searchbox > input { padding: 5px !important; }
/* change hover and focus backgorund color */
.dropdown-item:focus, .dropdown-item:hover {background-color: #1f283e;}
/* change option text color */
.ownerEmail {color: whitesmoke !important;}
/* adjust selected check icon */
span.bs-ok-default.check-mark {margin-top: 13px; margin-right: 6px;}

/* -- DROPDOWN MENU ARROW -- */
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px; /* Example: right:10px; */
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px; /* Example: right:10px; */
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

/* -- PAGE LOADER -- */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}