/* OVERRIDE DROPDOWN OPTIONS*/

/* hide the drag n' drop ghost*/
.sort-wrapper .sortable-drag {
  opacity: 0;
}

/* make dropdown horizontal*/
.dropdown-status.dropdown-menu.show {
  display: flex !important;
  transform: none !important;
}

/* highlight table and row label when editing */
input.row-label:focus, input.table-label:focus {
  color: #7d5fff !important;
}

/* sortablejs table and row selected*/
.table-selected { border: 2px dashed #f7f1e3; }
.row-selected { background-color: #f7f1e3 !important;}

/* fullcalendar padding and label colors */
/* .calendar { padding: 40px; } */
.calendar-timeline-1 { padding: 7px; color: #f7f1e3 !important; font-size: 15px;  background-color: #0fb9b1;}
.calendar-timeline-2 { padding: 7px; color: #f7f1e3 !important; font-size: 15px;  background-color: #4b7bec;}
.calendar-timeline-3 { padding: 7px; color: #f7f1e3 !important; font-size: 15px;  background-color: #7d5fff;}
.calendar-timeline-4 { padding: 7px; color: #f7f1e3 !important; font-size: 15px;  background-color: #10ac84;}

/* always front all select and dropdown */
.bootstrap-select { z-index: 1; min-width: 250px;}
.dropdown-status { z-index: 2;}

/* adjust add owner button */
.owner-select { margin-top: 2px; padding-left: 14px; padding-right: 14px; max-width: 45px;}

/* adjust owner 'no result' font size */
.no-results { font-size: 14px !important;}
/* adjust owner search padding */
div.bs-searchbox > input { padding: 5px !important; }

/*  disables ugly bootstrap focus highlight (on select owner button) */
.bootstrap-select .dropdown-toggle:focus { outline: none !important; box-shadow: none !important; }
